services:
  app:
    build: .
    container_name: app
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus_data:/prometheus
    ports:
      - 9090:9090
    depends_on:
      - app
    
  
volumes:
  prometheus_data:
